/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 mai 2015, 16 mai 2015 15:56:24
    Author     : Thomas
*/
body {
  margin-top: 50px;
  /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.image-bg-fluid-height,
.image-bg-fixed-height {
  text-align: center;
  background-size: cover;
  -o-background-size: cover;
}
.image-bg-fluid-height {
  background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
  padding: 100px 0;
}
.image-bg-fixed-height {
  background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
  height: 450px;
}
.img-center {
  margin: 0 auto;
}
section {
  padding: 75px 0;
}
.section-heading {
  margin: 30px 0;
  font-size: 4em;
}
.section-lead {
  margin: 30px 0;
}
.section-paragraph {
  margin: 30px 0;
}
footer {
  margin: 50px 0;
}
@media (max-width: 768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section-heading {
    font-size: 2em;
  }
}
.navbar {
  background-color: white;
}
a.navbar-brand {
  color: #4A4342 !important;
}
a.navbar-brand:hover {
  color: #FF5754 !important;
}
.navbar-nav > li > a {
  font-size: 1.5em;
  color: #4A4342 !important;
}
.navbar-nav > li > a:hover {
  color: #31AEB0 !important;
}

/*# sourceMappingURL=app.css.map */
